<div class="container">

<h2>Sign Up!</h2>

<%= form_for @user do |f| %>
  <div class="row">
    <%= f.text_field :first_name, placeholder:'First Name' %>
  </div>
  <div class="row">
    <%= f.text_field :last_name, placeholder:'Last Name' %>
  </div>
  <div class="row">
    <%= f.text_field :email, placeholder:'Email' %>
  </div>
  <div class="row">
    <%= f.password_field :password, placeholder:'Password' %>
  </div>
  <div class="container">
    <br>
    <%= f.submit 'Sign Up!' %>
  </div>
  <% end %>

</div>
