<!DOCTYPE html>
<html>
  <head>
    <title>LibApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Griffy|Ranga|Source+Sans+Pro" rel="stylesheet">

  </head>

  <body>
    <ul>
      <% if current_user %>
        <li class="my-nav"><%= link_to "Profile", user_path(current_user) %> |</li>
        <li class="my-nav"><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li class="my-nav"><%= link_to "Create Account", new_user_path %> |</li>
        <li class="my-nav"><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>

    <div class="flash-msg text-info"><% flash.each do |name, msg| %>
      <p>
        <small><%= name.capitalize %> : <%= msg %></small>
      </p>
    <% end %> </div> <!--ends flash.each-->

    <%= yield %>

  </body>

</html>
